.title {
	text-align: center;
	min-height: 20%;
	margin: 20px auto;
}

.list {
	display: block;
	margin: 10px auto;
	max-width: 30%;
}

.timer {
	color: red;
}

.row {
	text-align: center;
	margin: 10px auto;
}

.reset {
	display: block;
	text-align: center;
	margin: 10px auto;
}